@import "./node_modules/bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

html,body {
  min-height: 100%;
  padding: 0;
  margin: 0;

}
html{
  height: 100%;
}

.height-500px{
  height: 500px;
}
